body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: black;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 28px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

i {
    color: white;
    padding: 4px;
    font-weight: bold;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header-topcontainer {
    margin-top: 40px;
    padding: 10px 15px;
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    background: linear-gradient(45deg, #831a86 33%, #0D61BC 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign a{
    color: gray;
    text-decoration: none;
    margin-left: 30px;
    font-size: 13px;
}

.sign a:hover{
    color: white;
    border-bottom: 1px dashed white;
}

.header-navcontainer {
    background-color: rgb(219, 219, 219);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header-nav li {
    position: relative;
}

.header-nav li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 5px;
}

.header-nav img {
    width: 10px;
    margin-left: 5px;
    transition: 0.5s ease;
}

.header-nav ul li:hover img {
    transform: rotate(180deg);
}

.header-nav li:hover > .navitems {
    display: flex;
}

.navitems {
    display: none;
    background-color: rgba(233, 233, 233, 0.993);
    max-width: 600px;
    position: absolute;
    z-index: 100;

    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;

}

.navitems li {
    padding-right: 25px;
    width: 90px;

}

.navitems li a {
    border-radius: 10px;
    padding: 4px 8px;
    transition: 0.3s ease;
    font-size: 14px;
    color: #2e859e;
    font-weight: normal;
}


.navitems li a:hover {
    color: rgb(71, 71, 71);
    background-color: rgb(184, 184, 184);
}


.search input{
    background-color: transparent;
    outline: none;
    border: none;
    width: 198px;
    font-size: 15px;
    font-stretch: ultra-expanded;
}

.search input[type="text"]::placeholder {
    color: black;
    font-size: 15px;
    font-stretch: ultra-expanded;
}


/* Блок с фильмами на главной */

.container {
    padding: 10px 15px;
}

.main-content {
    padding: 20px 0;
    background-color: rgb(243, 243, 243);
}

.main-filter {
    margin-bottom: 30px;
}

.main-filter ul{
    display: flex;
}

.main-filter a{
    text-decoration: underline;
    padding: 10px;
    color: black;
}

.active a{
    background-color: black;
    color: rgba(255, 255, 255, 0.794);
    text-decoration: none;
}

.main-filter li:not(.active) a:hover{
    background-color: rgb(47, 47, 47);
    color: rgba(255, 255, 255, 0.794);
    text-decoration: none;
}

/* Список фильмов на главной */

.itemcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.main-item {
    margin-right: 20px;
    width: 160px;
}

.main-item a {
    text-decoration: none;
}

.main-item a:hover span{
    text-decoration: underline;
}

.item-header img {
    width: 160px;
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    margin-bottom: 7px;
}

.item-footer span{
    font-size: 14px;
    font-weight: bold;
    color: #2e859e;

}

.item-footer p {
    margin-top: 3px;
    margin-bottom: 30px;
    font-size: 13px;
    color: gray;
}


/* пагинация */

.pagination{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.pagination ul {
    display: inline-flex;
    margin: 0 auto;
}

.pagination li {
    padding: 3px 5px;
}

.pagination ul li a {
    text-decoration: none;
    color: black;
}

.pagination ul li a:hover {
    text-decoration: underline;
}


.active-pagin {
    background-color: gray;
    border-radius: 10px;
}

.button {
    font-size: 17px;
    display: inline-flex;
    border-radius: 100%;
    background-color: black;
    padding: 0 5px;
    color: white;
    text-decoration: none;
    align-items: center;
}

.button:hover{
    background-color: rgb(56, 56, 56);
}

/* текст внизу главной */

.main-about {
    margin-top: 110px;
}


/* footer */

footer ul{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

footer ul li a {
    color: gray;
    text-decoration: none;
    padding-right: 35px;
    font-size: 12px;
}

footer ul li:last-child a{
    color: white;
}

/* страница просмотра */

.filmcontainer {
    width: 710px;
}

.orignTitle {
    display: block;
    margin: 10px 0;
    color: #777;
    font-size: 17px;
}

.infolast{
    margin: 0;
    font-weight: bold;
    font-size: 17px;
}

.film-info {
    margin-top: 10px;
    display: flex;
}

.poster {
    display: inline-flex;
}

.poster img{
    width: 170px;
    border: 1px solid rgb(179, 179, 179);
    padding: 5px;
}

.film-table {
    margin-left: 20px;
    line-height: 22px;
}

.firstcol {
    font-weight: bold;
    padding-right: 10px;
}

.secondcol {
    font-size: 14px;
}

.secondcol a {
    color: #2e859e;
}

.secondcol a:hover {
    text-decoration: none;
}

.rates a{
    font-size: 14px;
    color: black;
}

.rates a:hover {
    text-decoration: none;
}


.film-about {
    margin-top: 20px;
}

.film-about h2 {
    font-size: 20px;
}

.film-about p {
    margin-top: 5px;
    color: #444;
    line-height: 22px;
    font-size: 14px;
}

video {
    outline: none;
}

.player-header {
    background-color: #e1e289;
    font-weight: bold;
    padding: 10px;
}

video {
    width: 100%;
}

.player-controls {
    background-color: black;
}

.player-controls p {
    margin: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.player-controls-button {
    background-color: #2d2d2d;
    border: none;
    color: white;
    padding: 10px;
    margin-left: 7px;
    margin-bottom: 7px;
}

.player-controls button:hover {
    background-color: rgb(87, 87, 87);
    cursor: pointer;
}

.selected {
    background-color: rgb(87, 87, 87);
}

.film-actions {
    display: flex;
    margin-top: 20px;
}

.film-actions div{
    padding: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.review {
    background-color: #00a0b0;
}

.review:hover {
    background-color: #007883;
}

.review a {
    color: white;
    text-decoration: none;
}

.mark {
    background-color: #edc951;
}

.mark:hover {
    background-color: rgb(195, 165, 66)
}

.watched {
    background-color: #51edc6;
}

.watched:hover {
    background-color: #3eb698;
}

/* Все части сериала/аниме/фильма */

.partcontainer {
    margin-top: 30px;

}

.partcontainer-item {
    display: flex;
    border-bottom: 1px solid #7d7d7d;
    padding: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.partcontainer-item:hover{
    background-color: rgb(214, 214, 214);
}

.partcontainer-item a {
    text-decoration: none;
    color: #2e859e;
}

.num {
    text-align: left;
    width: 5%;
}

.title {
    width: 78%;
}

.year {
    text-align: center;
    width: 10%;
    font-size: 13px;
}

.raiting {
    text-align: center;
    width: 7%;
    font-size: 13px;
}

.good {
    background-color: green;
}

.ok {
    background-color: gray;
}

.bad {
    background-color: red;
}

/* Похожие тайтлы */

.similar {
    margin-top: 30px;
}

.similar h2 {
    margin-bottom: 10px;
}

.sm {
    width: 100px;
}

.sm img {
    width: 110px;
}

/* Комментарии */

.addcomment-title {
    margin: 40px 0 20px 0;
    font-size: 21px;
}

.comment-form {
    margin: 20px 0;
}

textarea {
    width: 97%;
    height: 20px;
    padding: 10px;
    transition: 1.2s ease;
    resize: vertical;
    font-size: 15px;
}

textarea:focus {
    height: 90px;
}

.submit {
    margin-top: 5px;
    border: none;
    background-color: #2e859e;
    width: 20%;
    padding: 15px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover {
    background-color: #2a7a90;
}

.comments {
    padding: 5px;
}

.comment {
    padding: 5px;
}

.reply {
    margin-left: 70px;
    background-color: #d1d1d1;
}

.reply-b {
    margin-left: 70px;
}

.comment {
    height: 60px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.comment:nth-child(odd) {
    background-color:#ebebeb;
}

.comment:nth-child(even) {
    background-color: #dcdcdc;
}

.ava {
    width: 70px;
    float: left;
}

.avatar {
    border-radius: 50%;
    width: 60px;
}

.cominfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nickname {
    font-size: 13px;
    font-weight: bold;
    max-width: 150px;
    overflow: hidden;
    display: inline-flex;
}

.date {
    display: inline-flex;
    font-size: 12px;
}

.report {
    width: 20px;
}

.comment-text {
    display: flex;
    font-size: 14px;
    padding: 3px 0;
    line-height: 18px;
    max-height: 350px;
    overflow: auto;
}


#reply {
    color: #2e859e;
    cursor: pointer;
}

.replyform {
    display: none;
}

/* Просмотренные */

.watched-table {
    width: 100%;
    border-collapse: collapse;
}

.watched-table th{
    font-weight: bold;
}

.tdnum {
    width: 5%;
    text-align: center;
}

.tdtitle {
    width: 78%;
}

.tdtitle a {
    color: #2e859e;
    text-decoration: none;
}

.tdtitle a:hover {
    text-decoration: underline;
}

.tb-cell {
    padding: 15px;
    border: 1px solid #dedede;
}

.watched-table tr:hover td {
    background-color: white;
}

.watched-table tr:hover .deletebutton {
    opacity: 100;
}

.deletebutton {
    border: none;
    border-radius: 50%;
    background-color: red;
    color: white;
    margin-left: 10px;
    padding: 5px 10px;
    opacity: 0;
}

.deletebutton:hover {
    background-color: rgb(187, 0, 0);
    cursor: pointer;
}


/* */
